body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* overflow: hidden; */
    background-color: black;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

/* Complete invoice */
#invoice{
    height: max-content;
    width: 500px ;
    border: 2px solid black;

}
/* ___________________First Section________________________ */
/* the uppermost section */
#first{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 20px;
    border-bottom: 1px solid grey;
    padding-left:10px;
}


/* ______________left div of first section _______________*/
#company_name{
    color: rgb(82, 82, 82);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#company_name h3,p{
    margin: 0;
    display: inline;

}

#company_name #text p{
    font-size: 2%;
}
#company_name #text i{
    font-size: 30px;
    color: #b57547;

}

/* ______________Right div of first section ______________*/
#first #sample_invoice h1,p{
    margin: 0;
}
#first #sample_invoice h1{
    border-bottom: 2px solid #b57547 ; 
    padding-bottom: 10px;   
    font-size: 1.5rem;
    color: rgb(181, 117, 71);
    width: 70%;
    text-align: left;
}
#first #sample_invoice{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    gap: 4px;
}
#first #sample_invoice div{
    width: 70%;
    padding-top: 10px;
    text-align: left;
    
}
/*_________________________ Second section__________________ */
#second{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 15px;
    padding-top: 20px;
    font-size: 90%;
    background-color: white;
    border-bottom: 2px dotted grey;
}
#second *{
    margin: 0;
}
#second h4{
    padding-bottom: 1px;
}
#second #Address p{
    display: inline-block;
    width: 60%;
}
/* _______________________Third_________________________ */
#third{
    background-color: white;
    padding: 0 10px;
    padding-top:10px;
}
#third h3{
    margin-bottom: 10px;
}

#third table{
    width: 100%;
    text-align: center;

}
#third td{
    border-bottom: 1px solid grey ;
}
#third #heading-row{
    background-color: #f0c6a7;
}
#third #total{
    width: 60%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-bottom: 1px solid grey;
    margin-top: 10px;
}
#total h1,p{
    display: inline;
    margin: 0;
}
/* _________________________Fourth section________________________ */
#fourth{
    background-color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 20px;
    font-size: 10px;
}
